<ng-container [formGroup]="slotsFormGroup">
  <td>
    <div class="form-group m-0">
      <input type="text" class="form-control" formControlName="slotName" trakcitTrim />
    </div>
  </td>
  <td>
    <div class="form-group m-0">
      <input type="text" class="form-control" formControlName="nickName" trakcitTrim />
      <div ngxErrors="nickName" [isFormSubmitted]="isFormSubmitted">
        <div ngxError="required" [when]="['touched','dirty']">
          Nickname is required
        </div>
        <div [ngxError]="['maxlength']" [when]="['touched','dirty']">
          Nickname can not be more than 30 characters
        </div>
      </div>
    </div>
  </td>
  <td>
    <div class="form-group m-0">
      <ng-select #office [items]="masterData?.offices" selectFloatingLabel bindLabel="office" bindValue="officeId"
        [clearable]="false" formControlName="officeId" class="form-control float-outline p-0 w-5" appendTo="body"
        [searchable]="false">
        <ng-template ng-header-tmp>
          <div class="input-group input-group-sm rounded-pill border ng-custom-search">
            <input type="text" autoFocus class="form-control border-0 pr-0" (input)="office.filter($event.target.value)"
              placeholder="Search" aria-label="Search" aria-describedby="button-addon">
            <div class="input-group-append">
              <button class="btn bg-transparent text-gray" type="button">
                <span class="icon icon-search"></span>
              </button>
            </div>
          </div>
        </ng-template>
      </ng-select>
      <div ngxErrors="officeId" [isFormSubmitted]="isFormSubmitted">
        <div ngxError="required" [when]="['touched','dirty']">
          Office is required
        </div>
        <div [ngxError]="['maxlength']" [when]="['touched','dirty']">

        </div>
      </div>
    </div>
  </td>
  <td>
    <div class="form-group m-0">
      <app-time-picker [allowFloatLabel]="false" formControlName="slotTime">
        <label ctrlLabel for="slotTime" class="icon icon-clock time-picker-label text-gray mb-0"></label>
      </app-time-picker>
      <div ngxErrors="slotTime" [isFormSubmitted]="isFormSubmitted">
        <div ngxError="required" [when]="['touched','dirty']">
          Slot time is required
        </div>
      </div>
    </div>
  </td>
  <td>
    <div ngbDropdown class="d-inline-block" class="form-group d-flex  mb-0" #repeatRef="ngbDropdown" container="body">
      <button class="btn btn-repeat-on flex-grow-1 border dropdown-toggle" type="button" ngbDropdownToggle>
        <ng-container *ngFor="let day of selectedDayList;trackBy:trackBy.bind(this,'weekDayId');let i= index;let isLast=last">
          <span for="days">{{day.weekDay | repeatOnDays}}{{ isLast ? ' ' : ', ' }}</span>
        </ng-container>
      </button>
      <div ngbDropdownMenu>
        <app-repeat-on-presentation [isWeekly]="isWeekly" [weekDays]="masterData.weekDays" [repeatOn]="slotsFormGroup.value.repeatsOn"
          (save)="onRepeatOnSave($event);repeatRef.close()" (cancel)="repeatRef.close()">
        </app-repeat-on-presentation>
      </div>
    </div>
    <div ngxErrors="repeatsOn" [isFormSubmitted]="isFormSubmitted">
      <div ngxError="required" [when]="['touched','dirty']">
        Repeats On is required
      </div>
    </div>
  </td>
  <td class="d-flex align-items-center justify-content-center">
    <button type="button"
      class="btn btn-primary btn-icon btn-icon d-flex align-items-center justify-content-center mr-1"
      (click)="saveSlots();">
      <span class="icon icon-save"></span>
    </button>
    <button *ngIf="isCancel" type="button" title="Cancel"
      class="btn btn-gray-dark btn-icon d-flex align-items-center justify-content-center" (click)="cancel();">
      <span class="icon icon-times"></span>
    </button>
  </td>
</ng-container>