<ng-container *ngIf="isAddUser">
  <div class="card mb-3">
    <div class="card-body px-2 py-3 add-user-form">
      <trackit-user-form-ui [userMasterData]="userMasterData" [clients]="clients" [offices]="offices" [floors]="floors"
        [globalClientId]="globalClientId" (add)="addUser($event)" (update)="updateUser($event)" (cancel)="onCancel()"
        (getOffices)="onClientChange($event)" (getFloors)="onOfficeChange($event)"></trackit-user-form-ui>
    </div>
  </div>
</ng-container>
<div class="overflow-y-auto overflow-x-hidden border rounded mb-3">
  <table class="table data-tbl w-100 position-relative mb-0 border-0">
    <colgroup>
      <col style="width: 125px">
      <col style="width: 115px">
      <col style="width: 140px">
      <col style="width: 40px">
      <col style="width: 90px">
      <col style="width: 40px">
      <col style="width: 40px">
      <col style="width: 158px">
      <col style="width: 30px">
      <col style="width: 40px">
    </colgroup>
    <thead class="sticky-table-header">
      <tr>
        <th appSortingOrder [column]="'firstName'" (orderType)="onSortOrder('firstName',$event)" scope="col"
          class="column-sort">
          <span>First Name</span>
        </th>
        <th appSortingOrder [column]="'lastName'" (orderType)="onSortOrder('lastName',$event)" scope="col"
          class="column-sort">
          <span>Last Name</span>
        </th>
        <th appSortingOrder [column]="'clientName'" (orderType)="onSortOrder('clientName',$event)" scope="col"
          class="column-sort">
          <span>Client Name</span>
        </th>
        <th appSortingOrder [column]="'email'" (orderType)="onSortOrder('email',$event)" scope="col"
          class="column-sort">
          <span>Email</span>
        </th>
        <th appSortingOrder [column]="'role'" (orderType)="onSortOrder('role',$event)" scope="col" class="column-sort">
          <span>User Type</span>
        </th>
        <th appSortingOrder [column]="'office'" (orderType)="onSortOrder('office',$event)" scope="col"
          class="column-sort">
          <span>Office</span>
        </th>
        <th appSortingOrder [column]="'floor'" (orderType)="onSortOrder('floor',$event)" scope="col"
          class="column-sort">
          <span>Floor</span>
        </th>
        <th appSortingOrder [column]="'deskLocation'" (orderType)="onSortOrder('deskLocation',$event)" scope="col"
          class="column-sort">
          <span>Desk Location</span>
        </th>
        <th appSortingOrder [column]="'priority'" (orderType)="onSortOrder('priority',$event)" scope="col"
          class="column-sort">
          <span>Priority</span>
        </th>
        <th class="text-center">
          <span>Actions</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let user of userList;trackBy:trackBy.bind(this,'userId');let i= index">
        <ng-container *ngIf="!user.isEdit">
          <tr *ngIf="!user.isEdit">
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.clientName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.role}}</td>
            <td>{{user.office}}</td>
            <td>{{user.floor}}</td>
            <td>{{user.deskLocation}}</td>
            <td>{{user.priority || '-'}}</td>
            <td>
              <div ngbDropdown container="body" class="data-tbl-dropdown text-center">
                <button type="button" class="btn bg-transparent m-0 py-0 px-2" ngbDropdownToggle>
                  <span class="icon icon-more"></span>
                </button>
                <ul ngbDropdownMenu aria-labelledby="dropdownMenu">
                  <button type="button" class="dropdown-item" ngbDropdownItem (click)="onEdit(user)"
                    *hasPermission="userEnum.update">
                    <span class="icon icon-edit mr-2"></span>
                    <span>Edit</span>
                  </button>
                  <button type="button" class="dropdown-item" ngbDropdownItem [disabled]="user.isActive"
                    (click)="openModal(user)" *hasPermission="userEnum.delete">
                    <span class="icon icon-delete mr-2"></span>
                    <span>Delete</span>
                  </button>
                  <ng-container [ngTemplateOutlet]="user.isActive ? inactive : active"
                    [ngTemplateOutletContext]="{user: user}" *hasPermission="userEnum.changeStatus">
                  </ng-container>
                </ul>
              </div>
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="user.isEdit">
          <tr>
            <td colspan="10" class="update-user-form">
              <trackit-user-form-ui [user]="user" [userMasterData]="userMasterData" [clients]="clients"
                [offices]="offices" [floors]="floors" (add)="addUser($event)" (update)="updateUser($event)"
                (cancel)="onCancel(user)" (getOffices)="onClientChange($event)" (getFloors)="onOfficeChange($event)">
              </trackit-user-form-ui>
            </td>
          </tr>
        </ng-container>
      </ng-container>
      <!-- colspan base on total column -->
      <tr *ngIf="!userList || userList.length === 0 && !isAddUser">
        <td colspan="10" class="text-muted text-center">No record found</td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #active let-user="user">
  <button type="button" class="dropdown-item" ngbDropdownItem (click)="toggleStatus(user, true)">
    <span class="icon icon-check-circle mr-2"></span>
    <span>Active</span>
  </button>
</ng-template>
<ng-template #inactive let-user="user">
  <button type="button" class="dropdown-item" ngbDropdownItem (click)="toggleStatus(user, false)">
    <span class="icon icon-block mr-2"></span>
    <span>Inactive</span>
  </button>
</ng-template>