<div ngbDropdown container="body" class="multiselect" #dropdownMenu="ngbDropdown">
  <button type="button" #dropdownButton
    (keydown.arrowdown)="$event.preventDefault(); $event.stopPropagation(); openDropdownMenu(dropdownMenu)"
    class="d-flex position-relative form-control justify-content-between align-items-center" [id]="id" ngbDropdownAnchor
    (click)="$event.stopPropagation(); openDropdownMenu(dropdownMenu)">
    <span class="sr-only"></span>
  </button>

  <div #dropdownPanel class="shadow-sm multiselect-dropdown border mt-0" ngbDropdownMenu aria-labelledby="dropdownMenu">
    <ng-container *ngIf="searchable">
      <div class="multiselect-search border-bottom">
        <div class="input-group input-group-sm rounded-pill border ng-custom-search">
          <input type="text" class="form-control border-0 pr-0" #searchElement placeholder="Search" aria-label="Search"
            aria-describedby="button-addon" (input)="search($event.target.value)">
          <div class="input-group-append">
            <button class="btn bg-transparent text-gray" type="button" tabindex="-1">
              <span class="icon icon-search"></span>
            </button>
          </div>
        </div>
      </div>
    </ng-container>
    <ul class="px-3 list-unstyled mb-0 multiselect-dropdown-list">
      <ng-container *ngIf="(itemsList | textSearch : searchText) as results;">
        <!-- else is for cases where search:Search term is undefined or null  -->

        <li class="py-xl-2 py-1 multiselect-dropdown-item" *ngFor="let item of results;trackBy:trackBy.bind(this,'bindPrimaryKeyField'); let index=index; ">
          <div class="d-flex align-items-center justify-content-between">
            <ng-container *ngIf="isCheckboxSelection">
              <div class="custom-control flex-grow-1 d-flex cursor-pointer custom-checkbox" (click)="onItemChange(item)"
                (keyup.enter)="$event.preventDefault(); onItemChange(item)">
                <input type="checkbox" [checked]="item.selected" id="{{id}}-item-{{index}}"
                  class="custom-control-input flex-shrink-0" />
                <label class="form-check-label ml-2 flex-grow-1 custom-control-label">{{item.label}}</label>
              </div>
            </ng-container>
            <ng-container *ngIf="isRadioSelection">
              <div class="custom-control flex-grow-1 d-flex cursor-pointer custom-radio" (click)="onItemChange(item)">
                <input type="radio" [checked]="item.selected" id="{{id}}-item-{{index}}"
                  class="custom-control-input flex-shrink-0"
                  (keyup.enter)="$event.preventDefault(); onItemChange(item)" />
                <label class="form-check-label ml-2 flex-grow-1 custom-control-label">{{item.label}}</label>
              </div>
            </ng-container>
            <ng-container *ngIf="!isHideQuantityTextbox && item.selected && !item.isHideQuantity">
              <div class="form-group flex-shrink-0 ml-2 mb-0 w-90">
                <input class="form-control" placeholder="Quantity" [value]="item.quantity ? item.quantity : ''"
                  (input)="onQuantityInput(item, $event)" trakitOnlyNumber [allowPeriod]="allowDecimal"
                  [maxLength]="maxLength" />
              </div>
            </ng-container>
          </div>
          <ng-container *ngIf="item.selected && item.isOther">
            <div class="form-group mb-0 mt-2">
              <input placeholder="" class="form-control" [value]="item.instruction ? item.instruction : ''"
                (input)="onOtherInput(item, $event.target.value)" />
            </div>
          </ng-container>
          <ng-container *ngIf="item.selected && item.finishingSubItems &&  item.finishingSubItems.length > 0">
            <div class="form-group mt-3 mb-2">
              <ng-select [searchable]="false" [clearable]="true" class="form-control p-0"
                [items]="item.finishingSubItems" [ngModel]="item?.finishingSubItemId" bindLabel="finishingSubItem"
                bindValue="finishingSubItemId" (change)="onOptionChange(item, $event)">
              </ng-select>
            </div>
          </ng-container>
        </li>
        <li class="multiselect-dropdown-item py-2 option-disabled" *ngIf="!results.length">No items found</li>
      </ng-container>
    </ul>

  </div>
  <ng-container>
    <ul class="d-flex flex-wrap p-0 mb-0 mt-1 list-unstyled">
      <li class="selected-option" *ngFor="let item of selectedDataItems;trackBy:trackBy.bind(this,'bindPrimaryKeyField')">
        <ng-container [ngTemplateOutlet]="item.quantity ? quantityTemplate : noQuantityTemplate"
          [ngTemplateOutletContext]="{item:item}">
        </ng-container>
        <ng-container *ngIf="!isDisabled">
          <button type="button" tabindex="-1" (click)="clearItem(item)"
            class="btn btn-link btn-sm rounded-circle cancel-btn flex-shrink-0 d-flex align-items-center h-100 px-1 py-0">
            <span class="icon icon-close text-gray-dark" aria-hidden="true"></span>
          </button>
        </ng-container>
      </li>
      <ng-template #quantityTemplate let-item="item">
        <span class="value-label">
          {{item.label}} {{item?.finishingSubItemValue ? '-' + item?.finishingSubItemValue : ''}}
          {{item.isOther && item?.instruction?('-'+item?.instruction):''}} ({{ item.quantity }})
        </span>
      </ng-template>
      <ng-template #noQuantityTemplate let-item="item">
        <span class="value-label">
          {{item.label}} {{item?.finishingSubItemValue?'-'+item?.finishingSubItemValue:''}}
          {{item.isOther && item?.instruction?('-'+item?.instruction):''}}
        </span>
      </ng-template>
    </ul>
  </ng-container>
</div>