<trackit-page-actions>
  <div class="d-flex align-items-center">
    <div class="form-group mb-0 d-flex align-items-center mr-2">
      <label for="clients" class="text-gray-dark font-weight-medium mb-0 mr-2 flex-shrink-0">
        Client:
      </label>
      <trakit-client-select [clients]="clients" [formControl]="clientFormControl"></trakit-client-select>
    </div>

    <trackit-search (searchText)="onSearch($event)"></trackit-search>

    <div class="btn-group mb-0 d-flex align-items-center mr-2" ngbDropdown container="body">
      <button [disabled]="baseResponse?.visitorlogList?.length === 0" type="button" title="Export"
        class="btn btn-outline-secondary d-flex align-items-center" (click)="exportData()">
        <span>Export</span>
      </button>
    </div>

    <div *ngIf="isHistory" class="btn-group mb-0 d-flex align-items-center mr-2" ngbDropdown container="body">
      <button type="button" title="History" class="btn btn-outline-secondary d-flex align-items-center"
        routerLink="history">
        <span>History</span>
      </button>
    </div>
    <button *ngIf="!isHistory" type="button"
      class="btn btn-outline-light d-flex align-items-center justify-content-center btn-icon filter-btn"
      title="Filter visitor data" (click)="openFilter()">
      <span class="icon icon-filter text-gray-dark"></span>
      <ng-container *ngIf="isFilterApply">
        <span class="badge badge-icon badge-primary rounded-circle position-absolute"></span>
      </ng-container>
    </button>
    <div *ngIf="isHistory" class="btn-group" ngbDropdown container="body">
      <ng-container *ngIf="!(isArchived$|async)">
        <button [disabled]="!tableProperty.filter?.clientId" type="button" title="Add New Visitor"
          class="btn btn-primary d-flex align-items-center" (click)="addVisitorLogForm()"
          *hasPermission="visitorLogEnum.addVisitor">
          <span class="icon icon-add mr-2"></span>
          <span>New Visitor</span>
        </button>
      </ng-container>
    </div>
  </div>
</trackit-page-actions>

<!-- Data-table mobile view or desktop view -->
<trakit-visitor-log-list-desktop-ui [masterData]="masterData" [isAddVisitorLog]="isAddVisitorLog"
  [visitorLogList]="baseResponse?.visitorlogList" (add)="addVisitorLog($event)" (update)="updateVisitorLog($event)"
  (edit)="editVisitorLogForm($event)" (uploadPicture)="uploadPictures($event)"
  (downloadPicture)="downloadVisitorPicture($event)" (preview)="previewPicture($event)">
</trakit-visitor-log-list-desktop-ui>

<!-- Data-table footer area -->
<div *ngIf="baseResponse?.visitorlogList?.length > 0 || tableProperty.pageNumber >= 1"
  class="d-flex flex-wrap justify-content-between align-items-center mb-3">
  <!-- Data-table total entry status -->
  <div class="data-tbl-status text-muted" *ngIf="baseResponse?.visitorlogList?.length > 0">
    Showing {{tableProperty?.start}} to {{tableProperty?.end}} of {{baseResponse?.total}} entries
  </div>
  <!-- Data-table pagination -->
  <div class="data-tbl-pagination ml-auto d-flex">
    <button class="btn btn-outline-gray d-flex align-items-center justify-content-center btn-icon"
      [disabled]="tableProperty.pageNumber === 0" type="button" (click)="onPageChange(tableProperty.pageNumber - 1)">
      <span class="icon icon-arrow-prev"></span>
    </button>
    <button class="btn btn-outline-gray d-flex align-items-center justify-content-center btn-icon ml-2"
      [disabled]="tableProperty?.end >= baseResponse?.total" type="button"
      (click)="onPageChange(tableProperty.pageNumber + 1)">
      <span class="icon icon-arrow-next"></span>
    </button>

    <!-- Data-table total entry display length -->
    <select name="tbl-length" id="tbl-length" class="ml-2 form-control"
      (change)="onPageSizeChange($event.target.value)">
      <ng-container *ngFor="let item of pageSize;trackBy:trackBy.bind(this,'')">
        <option [selected]='(tableProperty?.pageLimit===item)' value="{{item}}">
          {{item}}
        </option>
      </ng-container>
    </select>
  </div>
</div>